*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
}
/* Header */
header{
    width: 100%;
}
.header-box-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10rem;

    background-color:#f7f2f2 ;
}
.header-box-title h1{
    color:#47ce47;
}
.nav-tab{
    width: 100%;
    height: 2rem;
    background: #f7f2f2;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-tab-persoangem{
    width: 20%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px 3px 0 0;
    border-top:  1px solid #ece4e4;
    transition: background-color 0.4s;
    cursor:pointer
}
.nav-tab-persoangem:hover{
    background-color: #ece4e4;
}

.nav-tab-input{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer
}
.nav-tab-input span{
    padding: 0.2rem;
}
.input-id{
    border: none;
    height: 1.4rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 3px 3px 0 0;
    border-top:  1px solid #ece4e4;
    transition: background-color 0.4s;
    cursor:pointer  
}
.input-id:hover{
    background-color: #f7f2f2;
}
.nav-tab-input label{
    color:#ece4e4;
}
/*   sessao de conteudo*/
.sessao-conteudo{
    width: 100%;
    height: 25rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-info{
    width: 50%;
    height: 60%;
    border-radius: 0.5rem;
    background-color: rgb(75, 66, 66);

   display: flex;
    

}
.info-img{
    width: 35%;
    height: 100%;
    overflow: hidden; 
}
.info-img img{
    height: 100%;
    width: 100%;
    border-radius:0.5rem 0 0 0.5rem;
}
.info-descricao{
    width: 65%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.info-descricao .title-name{
    color: #f7f2f2;
    padding: 0.8rem;
    margin-top:1.2rem;
    font-size: 1.6rem;
}
.info-descricao .status{
    font: 700;
    margin: -0.5rem 0 1rem -3.5rem;
    padding: 0.2rem;
    display: flex;
    justify-content: left;
    color:#f7f2f2
}
.info-extra{
    color: #f7f2f2;
    padding: 0.5rem 0 0 0.9rem;
}
.info-extra p{
    margin-bottom: 1.4rem;
}
.info-extra .text{
    color: #9c9494; 
}

footer{
    background-color: #000000;
    height: 2.4rem;
    text-align: center;
    
}
footer p{
    color:#47ce47;
}